[Desktop Entry]
Type=Application
Name=YaYeet
Comment=Launcher for Voices of the Void
Exec=yayeet
Icon=yayeet
Categories=Game;Utility;
Terminal=false
StartupNotify=true
